@require '../../../../variables.styl'

.layer.layer {
  max-height: 480px;
  border: 1px solid $NGray2;
  background-color: $NBlack3;
  border-radius: 10px;
  min-width: 408px;
}

.searchContainer {
  border-bottom: 1px solid $NGray2;
}

.borderBottom {
  border-bottom: 1px solid $NGray2;
}

.buttonCustomToken.buttonCustomToken {
  background-color: #575757;
  border-radius: 15px;
  padding: 0 20px;
}

.scrollContainer {
  &::-webkit-scrollbar-thumb {
    width: 3px;
    background-color: #959595;
    border-radius: 15px;
  }
}