@require '../../../variables.styl'

.inputWrapper {
  background-color: $NBlack;
  border-radius: 12px;
  padding: 4px 12px;
  border: 1px solid $NWhite;

  input {
    font-size: 18px;
  }
}

.inputOverride.inputOverride {
  color: $NWhite;
}


