@require '../../../../../../variables.styl'

.metamaskButton.metamaskButton {
  background-color: #999999;
  border-radius: 7px;
  padding: 4px 16px;
  transition: background-color 300ms linear;

  &.active {
    background-color: #B56625;
  }
}

.inputWrapper {
  width: 100%;
  input {
    background-color: $NBlack;
    border-radius: 12px;
    padding: 4px 12px;
    border: 1px solid $NWhite;
    text-align: center;
    font-size: 18px;
    color: $NWhite;
  }
}

.inputOverride.inputOverride {
  color: $NWhite;
}


// TODO: TEXT INPUT
.input.input {
  padding: 0;
  margin-bottom: 0;
  width: 100%;

  input {
    background-color: transparent;
    text-align: center;
    font-size: 18px;
    color: $NWhite;
  }
}