@require '../../../../variables.styl'

.layer.layer {
  border: 1px solid $NGray2;
  background-color: $NBlack3;
  border-radius: 10px;
  min-width: 408px;
}

.optionButton.optionButton {
  border: 1px solid $NGray2;
  box-sizing: border-box;
  border-radius: 7px;

  &.checked {
    border: 1px solid $NWhite;
  }
}

.imgToken {
  width: 22px;
  height: 22px;
}