.swapContainerStyle {
  z-index: 10;
  border-radius: 30px;
  background-color: white;
  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 4px 8px, rgba(0, 0, 0, 0.04) 0px 16px 24px, rgba(0, 0, 0, 0.01) 0px 24px 32px;
}

.tokenInfoRow {
  border-radius: 20px;
  height: 62px;
  // font-weight 500
  display: flex;
  justify-content: space-between;
  width: 100%;
  // color #2F80ED
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  // border 1px solid rgba(47, 128, 237, 0.5)
  // box-shadow 0 0 0.5rem rgba(0, 0, 0, 0.3)
  cursor: pointer;
  transition: all 0.8s ease;
  outline: none;

  &:hover {
    background-color: rgba(0, 191, 255, 0.1);
  }

  &:disabled {
    color: #848484;
    // border 1px solid #848484
    background-color: transparent;
    cursor: default;
  }
}

.tokenInfoItemsLeft {
  padding-left: 5px;
  align-items: center;
  display: flex;

  * {
    margin-left: 5px;
  }
}

.tokenInfoItemsRight {
  padding-right: 10px;
  align-items: center;
  margin: revert;
}

input {
  text-overflow: ellipsis;
}

.withdrawLiquiditySearch {
  flex: 1;
  border-radius: 20px;
  border: 1px solid rgb(237, 238, 242);
  width: 100%;
  padding: 12px;
  font-size: 14px;
  outline: none;
  margin-bottom: 0.2em;

  &:focus {
    border: 1px solid rgba(0, 191, 255, 0.9);
  }
}
