@require '../../../../variables.styl'

.root {
  width: 580px
  border-radius: 25px;
  background-color: $NBlack;
  overflow: hidden;
}

.buttonsContainer {
  height: 66px;
}
.buttonContainer {
  width: 100%
}

.bridgeButton.bridgeButton {
  width: 100%;
  height: 100%;
  border-radius: 0;

  &.reset {
    background-color: $NGray;
    &:hover {
      background-color: $NGray3;
    }
  }

}