.backgroundImage {
  background-image url("/players/background.jpg")
  background-repeat no-repeat
  background-position 0px 0px
  background-size cover
  position fixed
  top 0
  width 100vw
  height 100vh
  z-index 2
}

.blur {
  position fixed
  top 0
  width 100vw
  height 100vh
  z-index 2
  // background rgba(246, 247, 251, 0.2)
  background rgba(38, 204, 173, 0.2)
}
