@require '../../../../variables.styl'

.layer.layer {
  max-height: 480px;
  border: 1px solid $NGray2;
  background-color: $NBlack3;
  border-radius: 10px;
}

.buttonCustomToken.buttonCustomToken {
  background-color: #575757;
  border-radius: 15px;
  padding: 0 20px;
}

// TODO: TEXT INPUT
.input.input {
  margin-bottom: 0;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 8px 0px;

  input {
    background-color: transparent;
    font-size: 18px;
    color: $NWhite;
    font-family: GothamRounded;
  }
}