@require '../../../../variables.styl'

.root {
  box-sizing: border-box;
}

.button {
  background-color: $NBlack2;
  border: 1px solid $NWhite;
  border-radius: 15px;
  font-size: 12px;
  box-sizing: border-box;
  min-height: 46px;
  padding: 16px;

  &:hover {
    background-color: $NGray2;
  }
}

.buttonActive {
  border: 4px solid $NWhite;
  background-color: $NGray3;
  padding: 13px;
  color: $NBlack2;


}