.howTo {
  cursor pointer
  margin-top 5px
  margin-right 80px

  svg {
    transition all 0.3s
  }

  &:hover {
    svg {
      transform scale(1.1)
    }

    path {
      color: rgb(3, 173, 232);
    }
  }
}

@media screen and (max-width: 900px) {
  .howTo {
    display none
  }
}

.itemToken {
  flex-direction row
  align-items center
  padding 14px 24px 12px 22px
  cursor pointer
  position relative

  .imgToken {
    max-height 24px
    width 24px
    margin-right 10px
  }

  > span {
    font-size 18px
    font-weight 500
    color rgb(33, 45, 94)
  }

  &.selected {
    // color #00ADE8
    // border-bottom 1px solid #00ADE8
    border-radius 5px
    background: #f2f3f8;
    position relative

    &:after {
      display none
      position absolute
      content ''
      width: 100%
      height 2px
      bottom -2px
      left 0px

      background: linear-gradient(269.98deg, #69FABC -0.02%, #00ADE8 100%);
    }
  }
}
