@require '../../../../variables.styl'

.metamaskButton.metamaskButton {
  background-color: #B56625
  border-radius: 7px;
  padding: 4px 16px;
}

.input.input {
  padding: 0;
  margin-bottom: 0;

  input {
    background-color: transparent;
    text-align: center;
    font-size: 18px;
    color: $NWhite;
  }
}