.subMenu {
  font-size 14px
  font-family "Work Sans Thin",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
  font-weight 600
  line-height 1.2
  -webkit-font-smoothing antialiased
  color rgba(43,57,84,.5)
  margin 0
  align-items center
}

.scrtAssetBalance {
  font-size 22px
  font-family "Work Sans Thin",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
  font-weight 600
  line-height 1.2
  margin 0
  align-items center
}
