.root {
  font-family: GothamRounded;
  color: #AAAAAA;
}

.bgImage {
  background-image: url("/public/harmony_bglogo_black.svg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: initial;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.headerLine {
  border-bottom: 1px solid #313131;
  height: 1px;
  box-sizing: border-box;
}

.headerContainer {
  margin: 0 16px;
}

.contentContainer {
  margin: 0 16px;
}