.footerContainer {
  display flex
  flex-direction row
  justify-content center

  width 100vw

  position absolute
  bottom: 0px;
  z-index: 99999;
  padding: 30px 20px

  background rgba(255, 255, 255, 1)

  border 10px 10px 0 0

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin 0 10px

    svg {
      max-width 25px
      max-height 25px
      width 25px
      height 25px

      path {
        fill: lightslategrey
      }
    }
  }
}
