.infoContainer {
  ul {
    list-style none
    padding-left 20px

    li {
      margin 7px 0
    }
  }

  span {
    color: #47b8eb
  }

  a {
    color #47b8eb
    text-decoration-color #47b8eb
  }
}
