@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.spinner {
	animation: spin 1.6s linear infinite;

	circle {
		stroke: "#1d2b5e"
	}
}

.spinnerContainer {
	display block
	width 60px
	height 60px
	position relative

	&:after {
		display block
		content: ''
		position absolute
		background url("https://s2.coinmarketcap.com/static/img/coins/64x64/3945.png")
		background-size cover
		width 40px
		height 40px
		top 9px
		left: 10px
	}
}
