.addToken {
  display flex
  flex-direction row
  align-items center
  height 100%
  margin-left 5px

  > div {
    margin 0 !important
    padding 0 !important
  }

  div {
    margin 0 !important
    padding 0 !important
  }

  .icon {
    margin 0 !important
    padding 0 !important
  }
}

.addTokenString {
  padding 10px 0px 15px 0px
  // border 1px solid #dedede
  background transparent;

  .link {
    cursor pointer
    // color rgb(0, 173, 232)
    // margin 0 4px
    font-weight bold
    text-decoration underline
  }
}
