.faqContainer {
  .item {
    margin-bottom 16px;

    .label {
    }

    .textContainer {
      // margin-top -10px
      margin-left 30px

      .text {
        color #212D5E;
        line-height 25px
        margin 5px 0

        ul {
          list-style none
          padding-left 20px

          li {
            margin 7px 0
          }
        }

        p {
          margin 0
          padding 0
        }

        span {
          color: #47b8eb
        }

        a {
          color #47b8eb
          text-decoration-color #47b8eb
        }
      }
    }
  }
}
