Basic300 = #E6E6E6;
$fontFamily = Helvetica, sans-serif;

.collapse {
  font-family: $fontFamily;
  .collapseHeader {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: normal;
    margin: 0;
    user-select: none;
  }
}

.collapseBordered {
  border-top: 1px solid Basic300;
  padding-top: 30px;
  margin-top: 30px;
}

.collapseBordered:first-child {
  padding-top: 0;
  border-top: 0;
}

.collapseBordered:last-child {
  margin-bottom: 30px;
}
